@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="product-view-top">
    <div class="row ">
        <div class="col-md-11">
            <div class="row">
                <form method="get">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h4>Hello. Welcome to Elegant Styles</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <select id="categoryId" name="categoryId" asp-for="SelectedCategoryId" asp-items="Model.CategoryOptions" class="form-select">
                                    <option value="">All category</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input placeholder="Input name product" type="text" id="searchString" name="searchString" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100">Search and filter</button>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center">
                            <a asp-page="/Dashboard/Product" class="btn btn-secondary w-100">Cancel Search and filter</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-1 d-flex justify-content-center align-items-center">
            <div class="user">
                <a asp-area="" asp-page="/All/Cart" class="btn cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>(0)</span>
                </a>
            </div>
        </div>
    </div>

</div>

<!-- Pagination Start -->
@{
    var currentPage = Model.Products.PageIndex;
    var totalPages = Model.Products.TotalPages;

    var prevDisabled = currentPage == 1 ? "disabled" : "";
    var nextDisabled = currentPage == totalPages ? "disabled" : "";

    var startPage = Math.Max(1, currentPage - 2);
    var endPage = Math.Min(startPage + 4, totalPages);
}

<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-md-12">
            </div>

            <div class="row">
                @if (Model.Products != null)
                {
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">@product.ProductName</a>
                                    <div class="ratting">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                    </div>
                                </div>
                                <div class="image-index-product product-image ">
                                    <a href="product-detail.html">
                                        <img class="image-index-product" src="@product.Image" alt="Product Image">
                                    </a>
                                    <form method="post" asp-page-handler="AddToCart" asp-route-pageIndex="@currentPage">
                                        <div style="margin-left:10px;margin-bottom:5px">
                                            <input type="number" name="proId" value="@product.ProductId" hidden>
                                            <input hidden type="number" name="proQuantity" value="1" min="0">
                                        </div>
                                        <div class="product-action">
                                            <input type="hidden" name="productId" value="@product.ProductId" />
                                            <button type="submit">
                                                <a><i class="fa fa-cart-plus"></i></a>
                                            </button>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </form>

                                </div>
                                <div class="product-price">
                                    <h3 class=""><span>$</span>@product.UnitPrice</h3>
                                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>



        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (currentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link"
                           asp-page-handler="OnGetAsync"
                           asp-route-pageIndex="@(currentPage - 1)"
                           asp-route-searchString="@Model.CurrentFilter"
                           asp-route-categoryId="@Model.SelectedCategoryId">Previous</a>
                        </li>
                    }
                    @for (int i = startPage; i <= endPage; i++)
                    {
                        <li class="page-item">
                            <a class="page-link @(i == currentPage ? "active" : "")" asp-page-handler="OnGetAsync"
                           asp-route-pageIndex="@i"
                           asp-route-searchString="@Model.CurrentFilter"
                           asp-route-categoryId="@Model.SelectedCategoryId">
                                @i
                            </a>
                        </li>
                    }
                    @if (currentPage < totalPages)
                    {
                        <li class="page-item">
                            <a class="page-link"
                           asp-page-handler="OnGetAsync"
                           asp-route-pageIndex="@(currentPage + 1)"
                           asp-route-searchString="@Model.CurrentFilter"
                           asp-route-categoryId="@Model.SelectedCategoryId">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <!-- Pagination Start -->
    </div>

    <!-- Side Bar Start -->
    <div class="col-lg-4 sidebar">
        <div class="sidebar-widget widget-slider">
            <div class="sidebar-slider normal-slider">
                @foreach (var product in Model.TopProducts)
                {
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@product.ProductName</a>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <img src="@product.Image" alt="Product Image">
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3><span>$</span>@product.UnitPrice</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="sidebar-widget brands">
            <h2 class="title">Our Brands</h2>
            <ul>
                <li><a href="#">Nulla </a><span>(45)</span></li>
                <li><a href="#">Curabitur </a><span>(34)</span></li>
                <li><a href="#">Nunc </a><span>(67)</span></li>
                <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                <li><a href="#">Fusce </a><span>(89)</span></li>
                <li><a href="#">Sagittis</a><span>(28)</span></li>
            </ul>
        </div>

        <div class="sidebar-widget tag">
            <h2 class="title">Tags Cloud</h2>
            <a href="#">Lorem ipsum</a>
            <a href="#">Vivamus</a>
            <a href="#">Phasellus</a>
            <a href="#">pulvinar</a>
            <a href="#">Curabitur</a>
            <a href="#">Fusce</a>
            <a href="#">Sem quis</a>
            <a href="#">Mollis metus</a>
            <a href="#">Sit amet</a>
            <a href="#">Vel posuere</a>
            <a href="#">orci luctus</a>
            <a href="#">Nam lorem</a>
        </div>
    </div>
    <!-- Side Bar End -->
</div>
